.orders_container img{

    width: 15%;
}

.order_info{


    display: flex;
    justify-content: flex-start;
  
    flex-direction: column;

    border: 1px solid lightgray;

    width: 50%;
    margin: 2rem 2rem;

    box-shadow: 10px 10px 10px lightgray;

}


.amount_container{

    width: 10%;
    box-shadow: 10px 10px 10px lightgray;
     margin: 2rem 2rem;
}

.delivery_container{

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}