*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

::-webkit-scrollbar{

    width: 0px;
    background-color: transparent;
}


html{

    font-size: 100%;
}


@media (max-width:760px){

  html{
    font-size: 80%;
  }


}